
.spacer{
	height: 10vh;
}

body{
	background-color: #D6D6D6;
	scroll-behavior: smooth;

}


hr{
	border: 1px solid #454545;
}

.codeimg{
	width: 97%;
}

.multicode{
	width: 98%;
	padding: 0px;
}

#wellblockquote{
	border-left: 5px solid #25F201
}

img{
	margin: 0px 25px 0px 25px;
}


.gridexplaincolor{
	background-color: #EC407A;
	color: #fff;
}

#gridexplainbg{
	background-color: #fff;
	width: 100%;
}


.mamenu{
	list-style: none;
}

.mamenu li a{
	text-decoration: none;
	font-size: 2vw
}

@media (min-width: 992px){
	.mamenu li a{
		font-size: 1.5vw
	}
}

.topmenu2{
	display: none;
}

.appertosmlow{
	display: none;
}

@media (max-width: 992px){
	.topmenu1{
		display: none;
	}

	.topmenu2{
		display: block;
	}

	.appertosmlow{
		display: block;
	}
}
